<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l1 push-l5 s12">
                    <ul>
                        <li><a href="{{ site.github.repository_url }}" target="_blank" role="link" aria-label="GitHub"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                    </ul>
            </div>
            <div class="col l1 push-l5 s12">
                    <ul>
                        <li><a href="https://www.linkedin.com/in/ian-hibbert-35b44680/" target="_blank" role="link" aria-label="Linkedin"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
                    </ul>
            </div>
    </div>
</footer>
